
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
#one {
    border: 5px solid blue;
    width: 25%;
    position: fixed;
    right: 0px;
    bottom: 0px;
    margin: 5px;
    padding: 5px;
}

#two {
    border: 5px solid green;
    width: 25%;
    position: fixed;
    right: 0px;
    top: 0px;
    margin: 5px;
    padding: 5px;
}

#three {
    border: 5px solid orange;
    width: 25%;
    position: fixed;
    left: 0px;
    top: 0px;
    margin: 5px;
    padding: 5px;
}

#four {
    border: 5px solid yellow;
    width: 25%;
    position: fixed;
    left: 0px;
    bottom: 0px;
    margin: 5px;
    padding: 5px;
}

a {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-family: helvetica neue,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    background-color: #00a;
    color: #fefefe;
}